/* Variables */
:root {
  --main-text-yellow-color : #FCB72B;
  --main-darkNavy-color : #495567;
  --main-dimGrey-color : #939CAA;
  --main-lightGrey-color : #E5ECF4;;
  --main-snow-color : #F2F5F9;;
  --main-lgihtYellow-color : #FFF4DF;
}


@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/space-mono-v11-latin-regular.woff2') format('woff2'),
    url('../fonts/space-mono-v11-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/space-mono-v11-latin-700.woff2') format('woff2'),
    url('../fonts/space-mono-v11-latin-700.woff') format('woff');
}

@font-face {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lexend-deca-v16-latin-regular.woff2') format('woff2'),
    url('../fonts/lexend-deca-v16-latin-regular.woff') format('woff');
}

/* General */
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

img {
  display: block;
  height: auto;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

a{
  display: inline-block;
  text-decoration: none;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Container */
.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Sticky-Footer */
.site-main {
  flex-grow: 1;
}