/* Variables */
:root {
  /* --main-text-yellow-color: #FCB72B;
  --main-darkNavy-color: #495567;
  --main-dimGrey-color: #939CAA;
  --main-lightGrey-color: #E5ECF4;
  --main-snow-color: #F2F5F9;
  --main-lgihtYellow-color: #FFF4DF; */
  --main-white-color: #ffffff;
  --main-text-yellow-color : #FCB72B;
  --main-darkNavy-color : #495567;
  --main-dimGrey-color : #939CAA;
  --main-lightGrey-color : #E5ECF4;;
  --main-snow-color : #F2F5F9;;
  --main-lgihtYellow-color : #FFF4DF;
}


@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/space-mono-v11-latin-regular.woff2') format('woff2'),
    url('../fonts/space-mono-v11-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/space-mono-v11-latin-700.woff2') format('woff2'),
    url('../fonts/space-mono-v11-latin-700.woff') format('woff');
}

@font-face {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lexend-deca-v16-latin-regular.woff2') format('woff2'),
    url('../fonts/lexend-deca-v16-latin-regular.woff') format('woff');
}

/* General */
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

img {
  display: block;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Container */
.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Sticky-Footer */
.site-main {
  flex-grow: 1;
}

/* Start Header Section */
#site-header {
  padding: 22px 0;
}

.header-part {
  display: flex;
  align-items: center;
}

.site-nav {
  margin: 0 auto 0 58px;
}

.site-nav__list {
  display: flex;
  align-items: center;
}

.site-nav__item:not(:last-child) {
  margin-right: 32px;
}

.site-nav__link {
  font-family: 'Space Mono';
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: var(--main-dimGrey-color);
  transition: all .5s;
}

.site-nav__link:hover {
  color: var(--main-text-yellow-color);
}

.site-links {
  padding: 14px 39px;
  font-family: 'Space Mono';
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  background-color: var(--main-text-yellow-color);
  border: 3px solid transparent;
  transition: all .5s;
}

.site-links:hover {
  color: var(--main-text-yellow-color);
  border: 3px solid var(--main-text-yellow-color);
  background-color: transparent;
}

/* End of Header Section */

/* Start Main Page Hero Section */
#hero {
  position: relative;
  padding: 152px 0;
  background-image: url('../images/main-hero-bg-img.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#hero::after {
  position: absolute;
  bottom: 170px;
  right: -50px;
  width: 234px;
  height: 63px;
  background-image: url('../images/three-round-bg-img.svg');
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
}

.hero-part {
  width: 500px;
}

.hero-part__title {
  margin: 0;
  font-family: 'Space Mono';
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: #FFFFFF;
}

.hero-part__text {
  position: relative;
  margin: 40px 0px 40px 95px;
  font-family: 'Lexend Deca';
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
}

.hero-part__text::before {
  position: absolute;
  top: 45%;
  left: -299px;
  width: 234px;
  height: 15px;
  background-color: var(--main-text-yellow-color);
  content: '';
}

.hero-part__text::after {
  position: absolute;
  top: 42px;
  right: -540px;
  width: 506px;
  height: 158px;
  background-image: url('../images/arrow-right.svg');
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
}

.hero-part__link {
  margin-left: 95px;
}

/* End of Main Page Hero Section */

/* Start Plan Section */
#plan {
  padding: 160px 0 147px 0;
}

.plan-part__list {
  position: relative;
  display: flex;
  align-items: center;
}

.plan-part__list::before {
  content: '';
  position: absolute;
  top: 40px;
  left: -205px;
  background-image: url('../images/light-grey-line.svg');
  background-size: contain;
  width: 974px;
  height: 20px;
}

.plan-part__item {
  width: 350px;
  margin-right: 30px;
  z-index: 2;
}

.plan-part__item:last-child {
  margin-right: 0;
}

.plan-part__item::before {
  display: block;
  width: 96px;
  height: 96px;
  background-image: url('../images/app-img.svg');
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
}

.plan-part__item:nth-child(2)::before {
  background-image: url('../images/scooter-img.svg');
}

.plan-part__item:nth-child(3)::before {
  background-image: url('../images/ride-img.svg');
}

.plan-part__item-title {
  margin: 40px 0 27px 0;
  font-family: 'Space Mono';
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: var(--main-darkNavy-color);
}

.plan-part__item-text {
  margin: 0;
  font-family: 'Lexend Deca';
  font-size: 15px;
  line-height: 25px;
  color: var(--main-dimGrey-color);
}

/* End of Plan Section */

/* Start Info Section */
#info {
  padding: 0 0 178px 0;
}

.easy-list__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.easy-list__item:nth-child(even) {
  flex-direction: row-reverse;
}

.easy-list__item:nth-child(1)::before {
  position: absolute;
  right: -205px;
  bottom: -5px;
  z-index: 5;
  width: 735px;
  height: 138px;
  background-image: url('../images/easy-line.svg');
  background-size: 735px 138px;
  background-repeat: no-repeat;
  content: '';
}

.easy-list__item:nth-child(1)::after {
  position: absolute;
  right: -510px;
  bottom: 0px;
  width: 395px;
  height: 395px;
  background-image: url('../images/section-round-img.svg');
  background-size: contain;
  background-repeat: no-repeat;
  content: '';
}

.easy-list__item:nth-child(2)::before {
  position: absolute;
  left: -500px;
  bottom: 0px;
  width: 395px;
  height: 395px;
  background-image: url('../images/section-round-img.svg');
  background-size: contain;
  background-repeat: no-repeat;
  content: '';
}

.easy-list__item:nth-child(2)::after {
  position: absolute;
  top: 157px;
  left: -244px;
  z-index: 5;
  width: 735px;
  height: 138px;
  background-image: url('../images/arrow-right.svg');
  background-size: contain;
  background-repeat: no-repeat;
  content: '';
}

.easy-list__item:nth-child(3)::before {
  position: absolute;
  top: 225px;
  right: -555px;
  z-index: 5;
  width: 735px;
  height: 138px;
  background-image: url('../images/arrow-left.svg');
  background-size: 735px 138px;
  background-repeat: no-repeat;
  content: '';
}

.easy-list__item:nth-child(3)::after {
  position: absolute;
  right: -510px;
  bottom: 0px;
  width: 395px;
  height: 395px;
  background-image: url('../images/section-round-img.svg');
  background-size: contain;
  background-repeat: no-repeat;
  content: '';
}

.easy-list__item:not(:first-child) {
  padding-top: 160px;
}

.easy-list__text-box {
  width: 445px;
}

.easy-list__title {
  margin: 0;
  font-family: 'Space Mono';
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: var(--main-darkNavy-color)
}

.easy-list__text {
  margin: 24px 0 40px 0;
  font-family: 'Lexend Deca';
  font-size: 15px;
  line-height: 25px;
  color: var(--main-dimGrey-color);
}

.easy-list__img {
  width: 395px;
  height: 395px;
  border-radius: 50%;
}


/* End of Info Section */















.hero{
  position: relative;
  padding: 62px 0;
  background-image: url("../images/about-bg.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.hero--careers{
  background-image: url("../images/careers-bg.jpg");
}

/* .hero::after{
  position: absolute;
  content: "";
  top: 40%;
  right: calc(50% + -798px);
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background-color: var(--main-white-color);
  border: 3px solid var(--main-white-color);
  border-color: var(--main-white-color);
  cursor: pointer;
} */

.hero::before{
  position: absolute;
  content: "";
  top: 40%;
  right: calc(50% + -708px);
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background-color: transparent;
  border: 3px solid var(--main-white-color);
  border-color: var(--main-white-color);
  cursor: pointer;
}

.hero__heading{
  position: relative;
  font-family: 'Space Mono';
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: var(--main-white-color);
}

.hero__heading::after{
  position: absolute;
  content: "";
  top: 0%;
  right: -58px;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background-color: transparent;
  border: 3px solid var(--main-white-color);
  border-color: var(--main-white-color);
  cursor: pointer;
}

.value{
  padding-top: 78px;
}

.value__heading,
.faq__heading
{
  margin-bottom: 85px;
  font-family: 'Space Mono';
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -2.14286px;
  color: var(--main-darkNavy-color);
}

.faq__heading--modifier{
  margin-bottom: 64px;
}

.value__list{
  display: flex;
  align-items: center;
}

.value__item{
  position: relative;
  width: 350px;
}

.value__item:nth-child(1):before{
  position: absolute;
  top: 190px;
  left: 125px;
  width: 96px;
  height: 96px;
  content: "";
  background-color: var(--main-text-yellow-color);
  border-radius: 50px;
}

.value__item:nth-child(1)::after{
  position: absolute;
  top: 225px;
  right: 47%;
  content: "01";
  font-family: 'Space Mono';
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -1.07143px;
  color: var(--main-darkNavy-color);
}

.value__item:nth-child(2):before{
  position: absolute;
  top: 190px;
  left: 125px;
  width: 96px;
  height: 96px;
  content: "";
  background-color: var(--main-text-yellow-color);
  border-radius: 50px;
}

.value__item:nth-child(2)::after{
  position: absolute;
  top: 225px;
  right: 47%;
  content: "02";
  font-family: 'Space Mono';
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -1.07143px;
  color: var(--main-darkNavy-color);
}

.value__item:nth-child(3):before{
  position: absolute;
  top: 190px;
  left: 125px;
  width: 96px;
  height: 96px;
  content: "";
  background-color: var(--main-text-yellow-color);
  border-radius: 50px;
}

.value__item:nth-child(3)::after{
  position: absolute;
  top: 225px;
  right: 47%;
  content: "03";
  font-family: 'Space Mono';
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -1.07143px;
  color: var(--main-darkNavy-color);
}


.value__item:nth-child(2){
  margin-right: 30px;
  margin-left: 30px;
}

.value__image{
  margin: 0 auto;
  border-radius: 50%;
}

.value__subheading{
  margin-top: 87px;
  margin-bottom: 27px;
  font-family: 'Space Mono';
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -1.07143px;
  color: var(--main-darkNavy-color);
}

.value__desc{
  font-family: 'Lexend Deca';
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: var(--main-dimGrey-color);
}


.faq{
  padding-top: 120px;
  padding-bottom: 160px;
}

.faq__box{
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
}

.faq__box:last-child{
  margin-bottom: 0px;
}

.faq__subheading{
  font-family: 'Space Mono';
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1.78571px;
  color: var(--main-darkNavy-color);
}

.faq__item{
  width: 730px;
  margin-bottom: 16px;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 40px;
  background-color: var(--main-snow-color);
}

.faq__item:hover{
  background-color: var(--main-lgihtYellow-color);
  cursor: pointer;
}

.faq__item:last-child{
  margin-bottom: 0;
}

.faq__details{
  width: 650px;
}

.faq__summary{
  position: relative;
  font-family: 'Space Mono';
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: var(--main-darkNavy-color);
  list-style: none;
}

.faq__summary::after{
  position: absolute;
  content: "";
  background: url("../images/open-icon.svg") no-repeat;
  width: 26px;
  height: 18px;
  right: 0;
  top: 10px;
  transition: transform 0.8s ease;
}

.faq__details[open] .faq__summary::after{
 transform: rotate(180deg);
}

.faq__desc{
  font-family: 'Lexend Deca';
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: var(--main-darkNavy-color);
}

.courses{
  padding-top: 120px;
}

.courses__item{
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  padding-bottom: 7px;
  padding-right: 64px;
  padding-left: 40px;
  background-color: var(--main-snow-color);
}

.courses__subheading{
  margin-bottom: -10px;
  font-family: 'Space Mono';
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: var(--main-darkNavy-color);
}

.courses__desc{
  font-family: 'Lexend Deca';
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: var(--main-darkNavy-color);
}

.courses__btn{
  padding: 14px 67px;
  background-color: var(--main-text-yellow-color);
  font-family: 'Space Mono';
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: var(--main-white-color);
  border: 2px solid transparent;
}

.courses__btn:hover{
  border: 2px solid var(--main-text-yellow-color);
  color: var(--main-text-yellow-color);
  background-color: transparent;
}

.article{
  padding: 70px 0;
  margin-top: 160px;
  background-image: url("../images/article-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.article__box{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.article__link{
  position: relative;
  padding-left: 52px;
  padding-right: 15px;
  background: var(--main-lightGrey-color);
  border-radius: 4px;  
}

.article__link::before{
  position: absolute;
  top: 18px;
  left: 15px;
  content: "";
  background-image: url("../images/ios.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 35px;
}

.article__link:nth-child(2)::before{
  position: absolute;
  top: 18px;
  left: 15px;
  content: "";
  background-image: url("../images/google-play.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 35px;
}

.article__link:nth-child(2){
  margin-left: 18px;
}

.article__subdesc{
  margin-bottom: -20px;
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: -0.446429px;
  color: var(--main-darkNavy-color);
}

.article__download__type{
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.892857px;
  color: var(--main-darkNavy-color);
}

.article__heading{
  width: 415px;
}

.article__title{
  font-family: 'Space Mono';
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: var(--main-white-color);
}

.footer{
  padding-top: 35px;
  padding-bottom: 32px;
  background-color: #333A44;
}

.footer__main-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__box{
  display: flex;
}

.footer__route{
  display: flex;
  align-items: center;
}

.footer__list{
  display: flex;
  margin-left: 58px;
}

.footer__item{
  margin-right: 32px;
}

.footer__link{
  font-family: 'Space Mono';
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: var(--main-dimGrey-color);
}

.footer__social__item{
  margin-right: 24px;
  color: var(--main-text-yellow-color);
}

.footer__social__item:hover{
  color: var(--main-white-color);
}